.countryCardContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 42px;
  max-width: 1329px;
}

.countryCard {
  border-radius: 5px;
  width: 300px;
  cursor: pointer;
}

.countryCard-link {
  text-decoration: none;
}

.countryCard img {
  height: 150px;
  width: 100%;
  object-fit: cover;
  border-radius: 5px;
}

.cardText {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  font-size: 14px;
}

.cardText span {
  font-weight: 600;
}
