.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  padding: 25px 50px;
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.2);
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1;
}

.dark-mode {
  background-color: #2b3844;
  color: white;
}

.light-mode {
  background-color: white;
  color: black;
}

.dark-light-btn {
  display: flex;
  align-items: center;
  gap: 10px;
  border: transparent;
  background-color: transparent;
  cursor: pointer;
  font-weight: bold;
}

.dark-light-btn img {
  height: 25px;
  width: 25px;
}

@media (max-width: 741px) {
  .navbar-logo {
    display: none;
  }
}

@media (max-width: 374px) {
  .navbar {
    padding: 25px 25px;
  }
}
